{% extends 'theives/layouts/base.html' %}
{% load static %}
{% block title %} Theives Index  {% endblock %}
{% block body %}
<h1 style="color: red">
    This Theives landing page
</h1>
{% endblock %}


{% block content %}
    <h1> this the content block </h1>
{% endblock %}


{% block  test %}
    <h4> Mariammmmmmmmmmmmmmmmmmmmmmm </h4>
{% endblock %}

{% block main %}


    <h1> All theives  </h1>
    <table class="table">
        <tr><th> ID</th>  <th> Name</th> <th> Image </th> <th>Show</th></tr>

         {% for theif in theives %}
        <tr>
            <td> {{theif.id}}</td>
              <td> {{theif.name}}</td>
             <td> <img src="{% static 'theives/images/'|add:theif.image %}" width="200" height="200"> </td>
            <td>  <a href="{% url 'theif.profile' theif.id %}" class="btn btn-primary"> Show </a></td>-->
        </tr>
    {% endfor %}

    </table>
{% endblock %}


