{% extends 'theives/layouts/base.html' %}

{% load static %}

{% block title %}Students Index {% endblock %}
{% block main %}
    <h1> Welcome to student Profile  </h1>
    <div class="flex-row d-flex justify-content-between">
    <div class="card" style="width: 18rem;">
      <img src="{{student.get_image_url}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{student.name}}</h5>
        <p class="card-text">Age: {{student.age}}</p>
          <p class="card-text">Track: {{student.track}}</p>
          <p class="card-text">Created_at: {{student.created_at}}</p>
          <p class="card-text">Updated_at: {{student.updated_at}}</p>
        <a href="{% url 'students.index'%}" class="btn btn-primary">Back to all students</a>
      </div>
</div>
        <div >
            <h1> Students in this track </h1>
<!--            {{student.track.students.all}}-->
            {% for std in student.track.students.all %}
            {% if std.id != student.id %}
                <li> <a href="{{std.get_show_url}}">{{std.name}}</a> </li>
            {% endif %}
            {% endfor %}
        </div>
        </div>
{% endblock %}