{% extends 'theives/layouts/base.html' %}

{% load static %}

{% block title %}Students Index {% endblock %}
{% block main %}
    <h1> Welcome to student Profile  </h1>
    <div class="col-6 mx-auto">
    <div class="card" style="width: 18rem;">
      <img src="{% static 'students/images/'|add:student.image %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{student.name}}</h5>
        <p class="card-text">Age: {{student.age}}</p>
          <p class="card-text">Track: {{student.track}}</p>
          <p class="card-text">Created_at: {{student.created_at}}</p>
          <p class="card-text">Updated_at: {{student.updated_at}}</p>
        <a href="{% url 'students.index'%}" class="btn btn-primary">Back to all students</a>
      </div>
</div>
        </div>
{% endblock %}